<template>
  <div class="home">
    <b-container class="bv-example-row">
      <b-row class="justify-content-md-center">
        <b-col col lg="10">
          <b-card header-tag="header" footer-tag="footer">
            <template #header>
              <h6 class="mb-0">Welcome to the Forum</h6>
            </template>
            <div  v-if="!isAuthenticated">
              <b-button href="/login" variant="primary">Please login</b-button>
              <b-button class="ml-1" href="/register" variant="warning">Or register</b-button>
            </div>
            <div v-else>
              <b-button href="#" variant="primary">Posts</b-button>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import {mapGetters} from 'vuex' 

export default {
  name: "Home",
  components: {},
  computed : {
    ...mapGetters(['isAuthenticated'])
  }
};
</script>
