<template>
  <Container>
    <b-form @submit.prevent="onSubmit">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          placeholder="Enter email"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Password" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.password"
          placeholder="Enter password"
          type="password"
          required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" :disabled="loading" variant="primary"
        >Submit</b-button
      >
    </b-form>
  </Container>
</template>

<script>
import { mapActions } from "vuex";
import Container from "../components/Container.vue";

export default {
  name: "Login",
  components: {
    Container,
  },
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      errors: {},
      loading: false,
    };
  },
  methods: {
    ...mapActions(["Login"]),
    async onSubmit() {
      this.loading = true;
      this.errors = {};

      try {
        await this.Login(this.form);

        this.notifySuccess("logged in successfully");

        this.$router.push("/posts");
      } catch (e) {
        if(e?.response?.status === 401) {
            this.notifyError("invalid login email or password");
        }else{
            this.notifyError("oops something wrong!");
        }
        
      }

      this.loading = false;
    },
  },
};
</script>

<style scoped>
</style>