<template>
  <Container>
    <div class="mb-3">
      <b-input-group class="mt-3">
        <b-form-input v-model="search"></b-form-input>
        <b-input-group-append>
          <b-button @click="getPosts" variant="info">Search</b-button>
          <b-button @click="clearSearch">Clear</b-button>
        </b-input-group-append>
      </b-input-group>
    </div>
    <div class="mb-3">
      <b-button v-b-modal.modal-1 variant="outline-primary"
        >Create a post</b-button
      >
    </div>
    <div class="mb-3">
      <b-form-checkbox
        id="checkbox-1"
        name="checkbox-1"
        value="1"
        unchecked-value="0"
        v-model="onlyMe"
      >
        Show only my posts
      </b-form-checkbox>
    </div>

    <div class="d-flex justify-content-center mb-3" v-if="loading">
      <b-spinner label="Loading..."></b-spinner>
    </div>
    <div v-else>
      <PostList
        :post-pagination-data="postPaginationData"
        @go-to-link="handlePagination"
        @post-deleted="deletePost"
        @view-comments="viewComments"
      />
    </div>
    <CreatePostModal />
    <CommentModal :post="postToViewComments"  />
  </Container>
</template>

<script>
import axios from "axios";
import Container from "../components/Container.vue";
import PostList from "../components/PostList.vue";
import CreatePostModal from "../components/CreatePostModal.vue";
import CommentModal from "../components/CommentModal.vue";

export default {
  name: "Posts",
  data() {
    return {
      postPaginationData: {},
      loading: false,
      onlyMe: 0,
      search: "",
      postToViewComments : {}
    };
  },
  components: {
    Container,
    PostList,
    CreatePostModal,
    CommentModal
  },
  methods: {
    async getPosts() {
      try {
        this.loading = true;
        const { data } = await axios.get("/post", {
          params: { search: this.search, only_me: this.onlyMe },
        });

        this.postPaginationData = data;
      } catch (e) {
        this.notifyError("oops something wrong!");
      }

      this.loading = false;
    },
    async getPaginatedPosts(link) {
      this.loading = true;
      try {
        const { data } = await axios.get(link, {
          params: { search: this.search, only_me: this.onlyMe },
        });

        this.postPaginationData = data;
      } catch (e) {
        this.notifyError("oops something wrong!");
      }
      this.loading = false;
    },
    handlePagination(payload) {
      this.getPaginatedPosts(payload);
    },
    deletePost() {
      this.getPosts();
    },
    clearSearch() {
      this.search = "";
      this.getPosts();
    },
    viewComments(post) {
        this.postToViewComments = post;
        this.$bvModal.show('modal-2')
    }
  },
  mounted() {
    this.getPosts();
  },
  watch: {
    onlyMe() {
      this.getPosts();
    },
  },
};
</script>

<style scoped>
</style>