<template>
  <div class="p-4">
    <p>
      <b>{{ this.comment?.user.name }}</b> commented, {{ this.comment?.content }}      
      <br><small><em>at {{ this.comment?.created}}</em></small>
    </p>
    <hr>
  </div>
</template>

<script>
export default {
  props: {
    comment: {
      default: {},
    },
  },

};
</script>

<style lang="scss" scoped>
</style>