<template>
  <div>
    <b-modal size="lg" hide-footer id="modal-2" :title="title" @ok.prevent="createPost">
      <div class="d-flex justify-content-center mb-3" v-if="loading">
        <b-spinner label="Loading..."></b-spinner>
      </div>
      <div v-else>
        <div v-for="comment in comments" :key="comment.id">
          <Comment :comment="comment" />
        </div>
      </div>
      <b-form @submit.prevent="onSubmit">
        <b-form-group id="input-group-2" label="Comment" label-for="input-1">
          <b-form-textarea
            max="500"
            id="textarea"
            v-model="form.content"
            placeholder="Comment something..."
            required
            rows="2"
            max-rows="6"
          ></b-form-textarea>
        </b-form-group>

        <b-button type="submit" :disabled="loadingForm" variant="primary"
          >Submit</b-button
        >
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import Comment from "./Comment.vue";

export default {
  props: {
    post: {
      default: {},
    },
  },
  components: {
    Comment,
  },
  data() {
    return {
      form: {
        content: "",
      },
      loading: false,
      loadingForm: false,
      comments: [],
    };
  },
  computed: {
    title() {
      return `Comments for ${this.post?.title}`;
    },
  },
  methods: {
    async getCommentForPost() {
      this.loading = true;
      try {
        const { data } = await axios.get(`/post/${this.post?.id}/comment`);

        this.comments = data;
      } catch (error) {
        this.notifyError("oops something wrong!");
      }

      this.loading = false;
    },
    async onSubmit() {
      this.loadingForm = true;
      try {
        await axios.post(`/post/${this.post?.id}/comment`, {
          content: this.form.content,
        });

        this.notifySuccess("comment added successfully");

        this.getCommentForPost();
        this.form.content = "";
      } catch (error) {
        this.notifyError("oops something wrong!");
      }

      this.loadingForm = false;
    },
  },
  watch: {
    post() {
      this.getCommentForPost();
    },
  },
};
</script>

<style lang="scss" scoped>
</style>