<template>
  <div>
    <b-modal
      hide-footer
      id="modal-1"
      title="Create a post"
      @ok.prevent="createPost"
    >
      <b-form @submit.prevent="onSubmit">
        <b-form-group id="input-group-1" label="Title" label-for="input-1">
          <b-form-input
            max="100"
            id="input-1"
            v-model="form.title"
            type="text"
            placeholder="Enter title"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-2"
          label="Description"
          label-for="input-1"
        >
          <b-form-textarea
            max="500"
            id="textarea"
            v-model="form.description"
            placeholder="Enter something..."
            required
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-form-group>

        <b-button type="submit" :disabled="loading" variant="primary"
          >Submit</b-button
        >
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "CreatePostModal",
  data() {
    return {
      form: {
        title: "",
        description: "",
      },
      loading: false,
    };
  },
  methods: {
    async onSubmit() {
      this.loading = true;

      try {
        await axios.post("/post", this.form);

        this.notifySuccess("post create successfully");

        this.$bvModal.hide("modal-1");

        this.form = {
          title: "",
          description: "",
        };
      } catch (e) {
        this.notifyError("oops something wrong!");
      }
      this.loading = false;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>