<template>
  <div>
    <div v-for="post in postPaginationData?.data" :key="post.id">
      <Post v-on="$listeners" :post="post" />
    </div>

    <div style="display: flex; justify-content: end">
      <b-button
        :disabled="!hasPrevPostLink"
        @click="goToLink(postPaginationData?.prev_page_url)"
        variant="success"
        >Last</b-button
      >
      <b-button
        :disabled="!hasNextPostLink"
        @click="goToLink(postPaginationData?.next_page_url)"
        class="ml-1"
        variant="success"
        >Next</b-button
      >
    </div>
  </div>
</template>

<script>
import Post from "./Post.vue";
export default {
  name: "PostList",
  components: {
    Post,
  },
  props: {
    postPaginationData: {
      default: {},
    },
  },
  computed: {
    hasNextPostLink() {
      return this.postPaginationData?.next_page_url !== null;
    },
    hasPrevPostLink() {
      return this.postPaginationData?.prev_page_url !== null;
    },
    isLoading() {
      return (
        this.postPaginationData === undefined || this.postPaginationData?.data
      );
    },
  },
  methods: {
    goToLink(link) {
      this.$emit("go-to-link", link);
    },
  },
};
</script>

<style scoped>
</style>