<template>
  <b-card
    class="mb-4"
    header-tag="header"
    footer-tag="footer"
    :border-variant="isApproved ? 'success' : ''"
  >
    <template #header
      >
      <b-container class="bv-example-row mb-3">
        <b-row>
          <b-col md="10">
            <h6 class="">{{ post?.title }}</h6>
          </b-col>
          <b-col style="text-align: right">
            <b-dropdown size="sm" id="dropdown-1" class="m-md-2">
              <b-dropdown-item v-show="isOwner" @click="deletePost(post)"
                >Delete</b-dropdown-item
              >
              <b-dropdown-item
                v-show="isPending"
                @click="changePostStatus(post, statuses.APPROVED)"
                >Approve</b-dropdown-item
              >
              <b-dropdown-item
                v-show="isPending"
                @click="changePostStatus(post, statuses.REJECTED)"
                >Reject</b-dropdown-item
              >
              <b-dropdown-item
                @click="viewComments(post)"
                >Comments</b-dropdown-item
              >
            </b-dropdown>
          </b-col>
        </b-row>
      </b-container>
    </template>
    {{ post?.description }}

    <template #footer>
      <div style="text-align: right">
        <em>Posted by {{ post?.user?.name }} at {{ post?.created }}</em>
      </div>
    </template>
  </b-card>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

const APPROVED = 1;
const PENDING = 0;
const REJECTED = 2;

export default {
  props: {
    post: {
      default: {},
    },
  },
  data() {
    return {
      statuses: {
        APPROVED,
        PENDING,
        REJECTED,
      },
    };
  },
  computed: {
    ...mapGetters(["StateUser"]),
    isAdmin() {
      return this.StateUser.is_admin;
    },
    isPending() {
      return this.StateUser.is_admin && this.post.status === PENDING;
    },
    isOwner() {
      return this.post?.user_id === this.StateUser.id;
    },
    isApproved() {
      return this.isAdmin && this.post.status === APPROVED;
    },
  },
  methods: {
    async deletePost(post) {
      try {
        await axios.delete(`post/${post.id}`);

        this.notifySuccess("post deleted successfully");

        this.$emit("post-deleted", post);
      } catch (error) {
        this.notifyError("oops something wrong!");
      }
    },
    async changePostStatus(post, status) {
      try {
        await axios.put(`post/${post.id}/status`, {status});

        this.notifySuccess("post status change successfully");

        this.$emit("post-deleted", post);
      } catch (error) {
        this.notifyError("oops something wrong!");
      }
    },
    viewComments (post) {
        this.$emit("view-comments",post)
    }
  },
};
</script>

<style scoped>
</style>